language: go

go:
  - 1.4
  - 1.5
  - tip

before_script:
  - go install ./...
  - go get github.com/alecthomas/gometalinter
  - gometalinter --install --update
  # disabled checks fail on tip
  - gometalinter --deadline 60s --cyclo-over 12 -D structcheck -D aligncheck ./...
